@font-face {
    font-family: "Rush";
    src: url("../fonts/Rush.ttf");
}

body{
	background-color: #C5CAE9;
	padding: 0;
	margin: 0;
}
header {
	text-align: center;
	height: 130px;
}
#uploadPreview {
	width: 600px;
	height: 600px;
}
#sourceDesImages{
	margin-top: 12px;
	width: 624px;
	height: 624px;
	float:left;
	text-align: center;
	box-sizing: border-box;
	padding: 2px;
	background-color: #E8EAF6;
}
#resultat {
	margin-top: 12px;
	width: 624px;
	height:624px;
	float: left;
	text-align: center;
	box-sizing: border-box;
	padding: 2px;
	background-color: #E8EAF6;
}
.boxes {
	width: 200px;
	height: 200px;
	float:left;
	background-size: 600px 600px;
	background-position: 0% 0%;
}
.result_boxes {
	width: 200px;
	height: 200px;
	float:left;
}
#division {
	width: 50px;
	float: left;
	height: 600px;
	margin-top: 12px;
}
section {
	display: block;
	width: auto;
	overflow: hidden;
	width: 1298px;
	margin: 0 auto;
	text-align: center;
	
}
h1 {
	color:#607D8B;
	font-size: 30px;
	font-family: "Rush";
}
.buttonSubmit {
	background-color: #607D8B;
	border: none;
	margin-top : 30px;
	color: white;
	width : 130px;
	height : 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	cursor: pointer;
	box-shadow: 1px 1px 2px 2px #AAA;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}